@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.inline {
    display: inline;
    padding: 1rem;
    margin-right: 4rem;
}

.navlist {
    list-style: none;
    text-decoration: solid;
    margin-left: 42rem;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.navbar {
    height: 10vh;
    margin-inline-start: 1rem;
    background-color: rgb(25, 148, 230);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
}

.navbar .navlist .inline {
    color: white;
}

.color {
    color: white;
    text-decoration: none;
}

.navlist :hover {
    color: black;
}

.body {
    box-sizing: inherit;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.footer .footer-link {
    display: inline;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.box1 {
    padding-top: 1rem;
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    margin-top: 64px;
    margin-bottom: 16px;
    margin-left: 300px;
    margin-right: 300px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.heading1 {
    text-align: center;
    font-size: xx-large;
    color: rgb(25, 148, 230);
}

.para1 {
    text-align: center;
    font-size: large;
    text-transform: capitalize;
}

.box2 {
    padding-top: 1rem;
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    margin-top: 64px;
    margin-bottom: 16px;
    margin-left: 300px;
    margin-right: 300px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.box3 {
    display: block;
    background-color: #E5E7EB;
    height: 40vh;
    margin-top: 64px;
    margin-bottom: 16px;
    margin-left: 62px;
    margin-right: 62px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.heading2 {
    text-align: center;
    font-size: xx-large;
    color: rgb(25, 148, 230);
}

.heading3 {
    text-align: center;
    font-size: xx-large;
    color: rgb(25, 148, 230);
}

.para2 {
    text-align: center;
    font-size: large;
    text-transform: capitalize;
}

.para3 {
    text-align: center;
    font-size: large;
    text-transform: capitalize;
}

.image {
    text-align: center;
    size: small;
}

.container1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.container2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.footer-heading {
    text-align: center;
    font-size: 2rem;
}

.footer {
    text-align: center;
    font-size: 1rem;
}

.footer-link {
    padding: 20px;
}

.all-footer {
    padding: 1vh;
    margin-inline-start: 1rem;
    background-color: rgb(25, 148, 230);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-block: 0.1rem;
}

.nav-heading {
    font-size: 2rem;
}

#btn1 {
    font-size: xx-large;
}

.inline .link-active {
    font-weight: bold;
}

.all-footer ul {
    padding-inline-start: 0px;
}

.homebox1 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 16px;
    margin-left: 62px;
    margin-right: 62px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    text-transform: capitalize;
    text-align: center;
}

.homebox2 {
    display: block;
    background-color: #E5E7EB;
    height: 50vh;
    width: 70vh;
    margin-top: 16px;
    margin-left: 62px;
    margin-right: 62px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-transform: capitalize;
    height: 35vh;
}

.homebox3 {
    display: block;
    background-color: #E5E7EB;
    height: 50vh;
    width: 70vh;
    margin-bottom: 16px;
    margin-left: 62px;
    margin-right: 62px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-transform: capitalize;
    height: 35vh;
}

.project-btn {
    font-size: var(--fontSize-1);
    padding: 0.5em;
    background-color: rgb(25, 148, 230);
    border-radius: 0.5em;
    color: white;
    margin-bottom: 40px;
    text-decoration: none;
}

.blog-btn {
    font-size: var(--fontSize-1);
    padding: 0.5em;
    background-color: rgb(25, 148, 230);
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
}

.read {
    font-size: var(--fontSize-1);
    padding: 0.5em;
    background-color: rgb(25, 148, 230);
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
}

.boxcontainer {
    height: 50vh;
    width: 50vw;
}

.homebox1 .me-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.image {
    padding-top: 2rem;
}

.nav-heading {
    color: white;
    margin-left: 4rem;
    margin-top: 1rem;
}

.all-footer {
    color: white;
}

.footer-link {
    color: white;
}

.all-footer .footer-link {
    padding-inline-start: 0px;
    padding-right: 2rem;
}

.projectbox1 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projectbox2 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projectbox3 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projectbox4 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projectbox5 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projectbox6 {
    display: block;
    background-color: #E5E7EB;
    height: 30vh;
    width: 70vh;
    margin-bottom: 4rem;
    margin-left: 10rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: inherit;
    padding-top: 1rem;
    margin-top: 4rem;
    text-transform: capitalize;
}

.projects-btn {
    color: white;
    margin-bottom: 20px;
    margin-left: 12rem;
    margin-top: 20rem;
    text-decoration: none;
    font-size: var(--fontSize-1);
    padding: 0.5em;
    background-color: rgb(25, 148, 230);
    border-radius: 0.5em;
    font-size: 1.2rem;
}

.box12 {
    display: inline-flex;
}