@media screen and (max-width: 1200px) {
  * {
    margin: 0px;
    padding: 0;
    overflow: inherit;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: auto;
    overflow: auto;
  }
  .inline {
    margin: 1rem;
  }
  .nav-heading {
    margin-top: 0.4rem;

    justify-content: center;
    margin-left: 1rem;
  }
  .index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section {
    margin: 2rem;
  }
  .color {
    display: flex;
    justify-self: center;
    color: white;
    margin: -0.5rem;
  }
  .navlist {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: -2rem;
  }
  .homebox1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 57vw;
    margin: 0rem;
    justify-content: center;
    place-items: center;
    padding: 2rem;
  }
  .me-img {
    display: flex;
    justify-content: center;
    margin-right: 8rem;
    height: 173px;
    margin-top: -5rem;
    margin-bottom: 4rem;
  }
  .homebox2 {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: auto;
    width: 57vw;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    margin-top: -2rem;
  }
  .blog-img {
    display: none;
  }
  .project-img {
    display: none;
  }
  .homebox3 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 57vw;
    justify-content: center;
    place-items: center;
    padding: 2rem;
    margin: auto;
    margin-top: -2rem;
  }
  .container1 {
    padding-top: 1rem;
  }
  footer {
    padding: 3rem;
  }
  .footer-heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  }
  .all-footer {
    color: white;

    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    place-content: flex-end;
  }

  /*project part*/
  .btns {
    padding: 1rem;
    margin-left: 0.5rem;
  }
  .box12 {
    flex-direction: column;
    overflow: scrool;
    justify-self: center;
  }
  .projects-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2rem;
  }
  .projectbox1 {
    height: 35vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox2 {
    height: 35vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox3 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox4 {
    height: 35vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox5 {
    height: 35vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox6 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox7 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox8 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox9 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .projectbox10 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .projectbox11 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .projectbox12 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .projectbox13 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .projectbox14 {
    height: auto;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .projectbox15 {
    height: 30vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .heading1 {
    margin: 0rem;
    margin-top: -2rem;
  }
  .projects-btn {
    margin: auto;
  }
  .projects-special-btn {
    margin: auto;
  }

  /*blogs part*/
  .image-blog {
    height: 31vh;
    margin-bottom: 2rem;
  }
  .read {
    margin-bottom: 2rem;
  }
  .for-flex {
    justify-content: center;
  }
  .box1 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
  }
  .heading1 {
    margin: 0rem;
    margin-top: -1rem;
  }
  .heading2 {
    padding: 0rem;
  }
  .box2 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
    margin-top: 0rem;
  }
  .box3 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
    margin-top: 0rem;
  }
  .box4 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
    margin-top: 0rem;
  }
  .box5 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
  }
  .box6 {
    width: 72vw;
    height: auto;
    margin: 2.5rem;
    padding: 1rem;
  }
}
