@media screen and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: fit-content;
    overflow: auto;
  }
  .color {
    display: flex;
    justify-self: center;
    color: white;
  }
  .navlist {
    display: flex;
    justify-content: center;
    margin-left: 7rem;
  }
  .homebox1 {
    display: flex;
    flex-direction: column;
    height: 21vh;
    width: 57vw;
    margin: 4rem;
    justify-content: center;
    padding: 2rem;
  }
  .me-img {
    display: flex;
    justify-content: center;
    margin-right: 8rem;
  }
  .homebox2 {
    display: flex;
    flex-direction: column;
    height: 21vh;
    width: 59vw;
    margin: -5rem;
    justify-content: center;
    margin-bottom: -4rem;
    margin-left: 4rem;
    padding: 2rem;
  }
  .blog-img {
    display: none;
  }
  .project-img {
    display: none;
  }
  .homebox3 {
    display: flex;
    flex-direction: column;
    height: 24vh;
    width: 59vw;
    margin: 3rem;
    justify-content: center;
    margin-left: -10rem;
    padding: 2rem;
  }
  footer {
    height: 5rem;
  }
  .footer-heading {
    text-align: center;
    font-size: 2rem;
  }

  /*project part*/

  .box12 {
    flex-direction: row;
  }
  .projectbox1 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox2 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox3 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox4 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox5 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox6 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox7 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox8 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox9 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .projectbox10 {
    height: 26vh;
    display: flex;
    flex-direction: column;
  }
  .heading1 {
    margin: 2rem;
    margin-top: -1rem;
  }
  .projects-btn {
    margin: auto;
  }

  /*blogs part*/

  .for-flex {
    justify-content: center;
  }
  .box1 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
  .heading2 {
    padding: 2rem;
  }
  .box2 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
  .box3 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
  .box4 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
  .box5 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
  .box6 {
    width: 72vw;
    height: 25vh;
    margin: 3rem;
    padding: 1rem;
  }
}
